{
    "root": true,
     
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    
    "env": {
        "browser": true,
        "es6": true,
    },
    
    "rules": {
        # Possible Errors
        "no-cond-assign": ["error", "except-parens"],
        "no-console": ["warn"],
        "no-constant-condition": ["error"],
        "no-control-regex": ["error"],
        "no-debugger": ["warn"],
        "no-dupe-args": ["error"],
        "no-dupe-keys": ["error"],
        "no-duplicate-case": ["error"],
        "no-empty-character-class": ["error"],
        "no-empty": ["warn"],
        "no-ex-assign": ["error"],
        "no-extra-boolean-cast": ["error"],
        "no-extra-parens": ["warn"],
        "no-extra-semi": ["warn"],
        "no-func-assign": ["error"],
        "no-inner-declarations": ["error"],
        "no-invalid-regexp": ["error"],
        "no-irregular-whitespace": ["error"],
        "no-negated-in-lhs": ["error"],
        "no-obj-calls": ["error"],
        "no-prototype-builtins": ["off"],
        "no-regex-spaces": ["warn"],
        "no-sparse-arrays": ["warn"],
        "no-unexpected-multiline": ["error"],
        "no-unreachable": ["warn"],
        "no-unsafe-finally": ["error"],
        "use-isnan": ["error"],
        "valid-jsdoc": ["off"],
        "valid-typeof": ["error"],
        
        # Best Practices
        "accessor-pairs": ["warn"],
        "array-callback-return": ["warn"],
        "block-scoped-var": ["error"],
        "complexity": ["warn", 10],
        "consistent-return": ["error"],
        "curly": ["warn", "all"],
        "default-case": ["off"],
        "dot-location": ["warn", "property"],
        "dot-notation": ["warn"],
        "eqeqeq": ["error"],
        "guard-for-in": ["error"],
        "no-alert": ["warn"],
        "no-caller": ["error"],
        "no-case-declarations": ["error"],
        "no-div-regex": ["error"],
        "no-else-return": ["warn"],
        "no-empty-function": ["warn"],
        "no-empty-pattern": ["warn"],
        "no-eq-null": ["error"],
        "no-eval": ["error"],
        "no-extend-native": ["error"],
        "no-extra-bind": ["error"],
        "no-extra-label": ["error"],
        "no-fallthrough": ["off"],
        "no-floating-decimal": ["warn"],
        "no-implicit-coercion": ["off"],
        "no-implicit-globals": ["error"],
        "no-implied-eval": ["error"],
        "no-invalid-this": ["error"],
        "no-iterator": ["error"],
        "no-labels": ["error"],
        "no-lone-blocks": ["error"],
        "no-loop-func": ["warn"],
        "no-magic-numbers": ["warn", {ignore: [-1, 0, 1, 2]}],
        "no-multi-spaces": ["off"],
        "no-multi-str": ["error"],
        "no-native-reassign": ["error"],
        "no-new-func": ["error"],
        "no-new-wrappers": ["error"],
        "no-new": ["error"],
        "no-octal-escape": ["error"],
        "no-octal": ["error"],
        "no-param-reassign": ["off"],
        "no-proto": ["error"],
        "no-redeclare": ["error"],
        "no-return-assign": ["off"],
        "no-script-url": ["error"],
        "no-self-assign": ["error"],
        "no-self-compare": ["error"],
        "no-sequences": ["error"],
        "no-throw-literal": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-unused-expressions": ["warn"],
        "no-unused-labels": ["error"],
        "no-useless-call": ["error"],
        "no-useless-concat": ["warn"],
        "no-void": ["error"],
        "no-warning-comments": ["off"],
        "no-with": ["error"],
        "radix": ["warn"],
        "vars-on-top": ["off"],
        "wrap-iife": ["error"],
        "yoda": ["warn"],
        
        # Strict Mode
        "strict": ["error"],
        
        # Variables
        "init-declarations": ["off"],
        "no-catch-shadow": ["error"],
        "no-delete-var": ["error"],
        "no-label-var": ["error"],
        "no-restricted-globals": ["warn", "document"],
        "no-shadow": ["warn"],
        "no-shadow-restricted-names": ["error"],
        "no-undef": ["error"],
        "no-undef-init": ["warn"],
        "no-undefined": ["off"],
        "no-unused-vars": ["warn", {"vars": "all", "args": "none"}],
        "no-use-before-define": ["error", {"functions": false, "classes": false}],
        
        # Stylistic Issues
        "array-bracket-spacing": ["warn"],
        "block-spacing": ["warn", "never"],
        "brace-style": ["warn"],
        "camelcase": ["warn"],
        "comma-dangle": ["warn", "never"],
        "comma-spacing": ["warn"],
        "comma-style": ["warn"],
        "computed-property-spacing": ["warn"],
        "consistent-this": ["warn", "that"],
        "eol-last": ["warn", "unix"],
        "func-names": ["off"],
        "func-style": ["off"],
        "id-blacklist": ["off"],
        "id-length": ["off"],
        "id-match": ["warn", "^_?([0-9A-Za-z_]+)*$"],
        "indent": ["warn", 4, {"SwitchCase": 1}],
        "jsx-quotes": ["warn"],
        "key-spacing": ["off"],
        "keyword-spacing": ["warn", {
            "before": false,
            "after": true,
            "overrides": {
                "catch": {"before": true, "after": false},
                "default": {"before": true},
                "else": {"before": true},
                "finally": {"before": true},
                "for": {"after": false},
                "from": {"before": true},
                "if": {"after": false},
                "super": {"after": false},
                "switch": {"after": false},
                "this": {"before": true},
                "while": {"after": false}
            }
        }],
        "linebreak-style": ["warn", "unix"],
        "lines-around-comment": ["off"],
        "max-depth": ["warn", 4],
        "max-len": ["warn", {"code": 120}],
        "max-lines": ["off"],
        "max-nested-callbacks": ["warn"],
        "max-params": ["off"],
        "max-statements-per-line": ["warn", {"max": 1}],
        "max-statements": ["warn", 10, {"ignoreTopLevelFunctions": true}],
        "multiline-ternary": ["off"],
        "new-cap": ["warn"],
        "new-parens": ["warn"],
        "newline-after-var": ["warn"],
        "newline-before-return": ["warn"],
        "newline-per-chained-call": ["off"],
        "no-array-constructor": ["error"],
        "no-bitwise": ["off"],
        "no-continue": ["warn"],
        "no-inline-comments": ["off"],
        "no-lonely-if": ["warn"],
        "no-mixed-operators": ["off"],
        "no-mixed-spaces-and-tabs": ["warn"],
        "no-multiple-empty-lines": ["warn", {"max": 1, "maxBOF": 0, "maxEOF": 1}],
        "no-negated-condition": ["warn"],
        "no-nested-ternary": ["warn"],
        "no-new-object": ["warn"],
        "no-plusplus": ["off"],
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-spaced-func": ["warn"],
        "no-ternary": ["off"],
        "no-trailing-spaces": ["warn", {"skipBlankLines": true}],
        "no-underscore-dangle": ["off"],
        "no-unneeded-ternary": ["warn"],
        "no-whitespace-before-property": ["warn"],
        "object-curly-newline": ["off"],
        "object-curly-spacing": ["warn", "never"],
        "object-property-newline": ["warn", {"allowMultiplePropertiesPerLine": true}],
        "one-var-declaration-per-line": ["warn", "always"],
        "one-var": ["warn", "never"],
        "operator-assignment": ["warn"],
        "operator-linebreak": ["warn"],
        "padded-blocks": ["warn", "never"],
        "quote-props": ["warn", "as-needed"],
        "quotes": ["warn", "single", {"avoidEscape": true, "allowTemplateLiterals": false}],
        "require-jsdoc": ["off"],
        "semi-spacing": ["warn"],
        "semi": ["warn"],
        "sort-vars": ["off"],
        "space-before-blocks": ["warn", "always"],
        "space-before-function-paren": ["warn", "never"],
        "space-in-parens": ["warn"],
        "space-infix-ops": ["warn", {"int32Hint": true}],
        "space-unary-ops": ["warn", {"words": true, "nonwords": false}],
        "spaced-comment": ["warn", "always"],
        "unicode-bom": ["warn"],
        "wrap-regex": ["off"],
        
        # ECMAScript 6
        "arrow-body-style": ["off"],
        "arrow-parens": ["warn", "always"],
        "arrow-spacing": ["off"],
        "constructor-super": ["warn"],
        "generator-star-spacing": ["off"],
        "no-class-assign": ["error"],
        "no-confusing-arrow": ["warn"],
        "no-const-assign": ["error"],
        "no-dupe-class-members": ["error"],
        "no-new-symbol": ["error"],
        "no-restricted-imports": ["off"],
        "no-this-before-super": ["error"],
        "no-useless-constructor": ["off"],
        "no-var": ["error"],
        "object-shorthand": ["warn", "always"],
        "prefer-arrow-callback": ["warn"],
        "prefer-const": ["off"],
        "prefer-reflect": ["error"],
        "prefer-rest-params": ["error"],
        "prefer-spread": ["error"],
        "prefer-template": ["warn"],
        "require-yield": ["error"],
        "sort-imports": ["off"],
        "template-curly-spacing": ["off"],
        "yield-star-spacing": ["off"]
    }
}
