{
    "root": true,
     
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    
    "env": {
        "browser": true,
        "es6": true,
    },
    
    "rules": {
        # Possible Errors
        "comma-dangle": ["warn", "never"],
        "no-cond-assign": ["error", "except-parens"],
        "no-console": ["warn"],
        "no-constant-condition": ["error"],
        "no-control-regex": ["error"],
        "no-debugger": ["warn"],
        "no-dupe-args": ["error"],
        "no-dupe-keys": ["error"],
        "no-duplicate-case": ["error"],
        "no-empty": ["warn"],
        "no-empty-character-class": ["error"],
        "no-ex-assign": ["error"],
        "no-extra-boolean-cast": ["error"],
        "no-extra-parens": ["warn"],
        "no-extra-semi": ["warn"],
        "no-func-assign": ["error"],
        "no-inner-declarations": ["error"],
        "no-invalid-regexp": ["error"],
        "no-irregular-whitespace": ["error"],
        "no-negated-in-lhs": ["error"],
        "no-obj-calls": ["error"],
        "no-regex-spaces": ["warn"],
        "no-sparse-arrays": ["warn"],
        "no-unexpected-multiline": ["error"],
        "no-unreachable": ["warn"],
        "use-isnan": ["error"],
        "valid-jsdoc": ["off"],
        "valid-typeof": ["error"],
        
        # Best Practices
        "accessor-pairs": ["warn"],
        "array-callback-return": ["warn"],
        "block-scoped-var": ["error"],
        "complexity": ["warn", 10],
        "consistent-return": ["error"],
        "curly": ["warn", "all"],
        "default-case": ["off"],
        "dot-location": ["warn", "property"],
        "dot-notation": ["warn"],
        "eqeqeq": ["error"],
        "guard-for-in": ["error"],
        "no-alert": ["warn"],
        "no-caller": ["error"],
        "no-case-declarations": ["error"],
        "no-div-regex": ["error"],
        "no-else-return": ["warn"],
        "no-empty-function": ["warn"],
        "no-empty-pattern": ["warn"],
        "no-eq-null": ["error"],
        "no-eval": ["error"],
        "no-extend-native": ["error"],
        "no-extra-bind": ["error"],
        "no-extra-label": ["error"],
        "no-fallthrough": ["off"],
        "no-floating-decimal": ["warn"],
        "no-implicit-coercion": ["off"],
        "no-implicit-globals": ["error"],
        "no-implied-eval": ["error"],
        "no-invalid-this": ["error"],
        "no-iterator": ["error"],
        "no-labels": ["error"],
        "no-lone-blocks": ["error"],
        "no-loop-func": ["warn"],
        "no-magic-numbers": ["warn", {ignore: [-1, 0, 1, 2]}],
        "no-multi-spaces": ["off"],
        "no-multi-str": ["error"],
        "no-native-reassign": ["error"],
        "no-new": ["error"],
        "no-new-func": ["error"],
        "no-new-wrappers": ["error"],
        "no-octal": ["error"],
        "no-octal-escape": ["error"],
        "no-param-reassign": ["off"],
        "no-proto": ["error"],
        "no-redeclare": ["error"],
        "no-return-assign": ["off"],
        "no-script-url": ["error"],
        "no-self-assign": ["error"],
        "no-self-compare": ["error"],
        "no-sequences": ["error"],
        "no-throw-literal": ["error"],
        "no-unmodified-loop-condition": ["error"],
        "no-unused-expressions": ["warn"],
        "no-unused-labels": ["error"],
        "no-useless-call": ["error"],
        "no-useless-concat": ["warn"],
        "no-void": ["error"],
        "no-warning-comments": ["off"],
        "no-with": ["error"],
        "radix": ["warn"],
        "vars-on-top": ["off"],
        "wrap-iife": ["error"],
        "yoda": ["warn"],
        
        # Strict Mode
        "strict": ["error"],
        
        # Variables
        "init-declarations": ["off"],
        "no-catch-shadow": ["error"],
        "no-delete-var": ["error"],
        "no-label-var": ["error"],
        "no-restricted-globals": ["warn", "document"],
        "no-shadow": ["warn"],
        "no-shadow-restricted-names": ["error"],
        "no-undef": ["error"],
        "no-undef-init": ["warn"],
        "no-undefined": ["off"],
        "no-unused-vars": ["warn", {"vars": "all", "args": "none"}],
        "no-use-before-define": ["error", {"functions": false, "classes": false}],
        
        # ECMAScript 6
        "arrow-body-style": ["off"],
        "arrow-parens": ["warn", "always"],
        "arrow-spacing": ["off"],
        "constructor-super": ["warn"],
        "generator-star-spacing": ["off"],
        "no-class-assign": ["error"],
        "no-confusing-arrow": ["warn"],
        "no-const-assign": ["error"],
        "no-dupe-class-members": ["error"],
        "no-new-symbol": ["error"],
        "no-restricted-imports": ["off"],
        "no-this-before-super": ["error"],
        "no-useless-constructor": ["off"],
        "no-var": ["error"],
        "object-shorthand": ["warn", "always"],
        "prefer-arrow-callback": ["warn"],
        "prefer-const": ["off"],
        "prefer-reflect": ["error"],
        "prefer-rest-params": ["error"],
        "prefer-spread": ["error"],
        "prefer-template": ["warn"],
        "require-yield": ["error"],
        "template-curly-spacing": ["off"],
        "yield-star-spacing": ["off"]
    }
}
