/bin/
/build/
/.classpath
/db/
/*derby.log
/*derbyDB
/evilmusic.log*
/evilmusic-int-test.log*
/.gradle/
/integration-databases*
/.metadata
/node_modules/
/npm-debug.log
/.project
/RemoteSystemsTempFiles/
/.settings/
/src/main/webapp/dist
/*.sublime-project
/*.sublime-workspace
