/bin/
/build/
/.classpath
/db/
/*derby.log
/*derbyDB
/evilmusic.log
/.gradle/
/.metadata
/node_modules/
/npm-debug.log
/.project
/.settings/
/src/main/webapp/dist
/*.sublime-project
/*.sublime-workspace
