<div><h2>Queue</h2></div>
<div>
    <input type="button" value="clear queue" ng-click="ctrl.queue.clear()"/>
</div>
<table>
    <tr>
        <th>pI</th>
        <th>qI</th>
        <th>ID</th>
        <th>Title</th>
        <th>Controls</th>
    </tr>
    <tr ng-repeat="elem in ctrl.queue.q.elements">
        <td>{{elem.playIndex}}</td>
        <td>{{elem.queueIndex}}</td>
        <td>{{elem.song.id}}</td>
        <td>{{elem.song.title}}</td>
        <td>
            <input type="button" value="play" ng-click="ctrl.queue.play(elem.queueIndex)"/>
            <input type="button" value="remove" ng-click="ctrl.queue.remove(elem.queueIndex)"/>
        </td>
    </tr>
</table>
