/* ************ */
/* Basic Styles */
/* ************ */

.centered { text-align: center; }

.float-left { float: left; }
.float-right { float: right; }
.clear-both { clear: both; }

.width-45 { width: 45px; }

/* *************** */
/* Specific Styles */
/* *************** */

.eq-node-slider-div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.eq-node-slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 200px;
    text-align: center;
}

.em-progress-bar {
    width: 100%;
    height: 10px;
    padding: 5px;
    display: table;
}

.em-progress-row {
    display: table-row;
}

.em-progress-gutter {
    width: 100%;
    height: 10px;
    background: gray;
    display: table-cell;
}

.em-progress-meter {
    height: 10px;
    background: blue;
    display: block;
}
