<!DOCTYPE html>
<html ng-app="EvilMusicApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Evil Music</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/evilmusic.css">
    <script type="text/javascript" src="/assets/libs/aurora.js" defer></script>
    <script type="text/javascript" src="/assets/libs/flac.js" defer></script>
    <script type="text/javascript" src="/assets/libs/jquery.js" defer></script>
    <script type="text/javascript" src="/assets/libs/angular.js" defer></script>
    <script type="text/javascript" src="/assets/js/emeq.js" defer></script>
    <script type="text/javascript" src="/emcontroller.js" defer></script>
    <script type="text/javascript" src="/shared/progressbar/emprogressbar.js" defer></script>
    <script type="text/javascript" src="/shared/volumecontrol/emvolumecontrol.js" defer></script>
</head>
<body ng-controller="EMLibraryController">
    <h1>Evil Music</h1>
    <div>
        <div><h2>EQ</h2></div>
        <div>
            <div class="eq-node-slider-div" ng-repeat="node in eq.nodes">
                <div class="centered">
                    {{hertzToString(node.frequency)}}
                </div>
                <div class="centered">
                    <input class="eq-node-slider"
                           type="range" min="-40" max="10" step="0.1" orient="vertical"
                           ng-model="node.gain" ng-change="updateNodeGain(node)"/>
                </div>
                <div class="centered">
                    <input class="width-45"
                           type="number" min="-10" max="10" step="0.1"
                           ng-model="node.gain" ng-change="updateNodeGain(node)"/>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div>
        <div><h2>Player Controls</h2></div>
        <div>
            <input type="button" value="play/pause" ng-click="togglePlayback()"/>
            <div em-volume-control style="display:inline-block" volume="volume" onvolumechange="setVolume"></div>
        </div>
        <em-progress-bar progress="playerProgress" onseek="seekToPercent"></em-progress-bar>
    </div>
    <div style="float:left">
        <div><h2>Library</h2></div>
        <div>
            <input type="button" value="clear library" ng-click="clearLibrary()"/>
            <input type="button" value="rebuild library" ng-click="rebuildLibrary()"/>
        </div>
        <table>
            <tr>
                <th align="right">ID</th>
                <th align="left">Artist</th>
                <th align="left">Album</th>
                <th align="right">Track #</th>
                <th align="left">Title</th>
                <th align="right">Length</th>
                <th align="right">Sample Rate</th>
                <th align="right">Sample Count</th>
                <th align="left">Controls</th>
            </tr>
            <tr ng-repeat="song in library | orderBy : ['artist','trackNumber']">
                <td align="right">{{song.id}}</td>
                <td align="left">{{song.artist}}</td>
                <td align="left">{{song.album}}</td>
                <td align="right">{{song.trackNumber}}</td>
                <td align="left">{{song.title}}</td>
                <td align="right">{{millisecondsToString(song.millis)}} s</td>
                <td align="right">{{hertzToString(song.sampleRate)}}</td>
                <td align="right">{{song.sampleCount}}</td>
                <td align="left"><input type="button" value="qL" ng-click="enqueueLast(song.id)"/></td>
            </tr>
        </table>
    </div>
    <div style="float:right">
        <div><h2>Queue</h2></div>
        <div>
            <input type="button" value="clear queue" ng-click="clearQueue()"/>
        </div>
        <table>
            <tr>
                <th>pI</th>
                <th>qI</th>
                <th>ID</th>
                <th>Title</th>
                <th>Controls</th>
            </tr>
            <tr ng-repeat="elem in queue.elements">
                <td>{{elem.playIndex}}</td>
                <td>{{elem.queueIndex}}</td>
                <td>{{elem.song.id}}</td>
                <td>{{elem.song.title}}</td>
                <td>
                    <input type="button" value="play" ng-click="play(elem.queueIndex)"/>
                    <input type="button" value="remove" ng-click="removeFromQueue(elem.queueIndex)"/>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <pre>{{testOutput}}</pre>
</body>
