<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="EvilMusicApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Evil Music - Library</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/emcontroller.js"></script>
    <script type="text/javascript" src="js/aurora.js"></script>
    <script type="text/javascript" src="js/flac.js"></script>
</head>
<body ng-controller="EMLibraryController">
    <h1>Evil Music - Library</h1>
    <div>
        <input type="button" value="clear library" ng-click="clearLibrary()"/>
        <input type="button" value="rebuild library" ng-click="rebuildLibrary()"/>
        <input type="button" value="clear queue" ng-click="clearQueue()"/>
    </div>
    <div style="float:left">
        <div><h2>Library</h2></div>
        <table>
            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Title</th>
                <th>Length</th>
                <th>Sample Rate</th>
                <th>Sample Count</th>
                <th>Controls</th>
            </tr>
            <tr ng-repeat="info in library">
                <td>{{info.id}}</td>
                <td>{{info.artist}}</td>
                <td>{{info.album}}</td>
                <td>{{info.title}}</td>
                <td>{{info.seconds}} s</td>
                <td>{{info.sampleRate}} Hz</td>
                <td>{{info.sampleCount}}</td>
                <td><input type="button" value="qL" ng-click="enqueueLast(info.id)"/></td>
            </tr>
        </table>
    </div>
    <div style="float:right">
        <div><h2>Queue</h2></div>
        <table>
            <tr>
                <th>pI</th>
                <th>qI</th>
                <th>ID</th>
                <th>Title</th>
                <th>Controls</th>
            </tr>
            <tr ng-repeat="info in queue">
                <td>{{info.playIndex}}</td>
                <td>{{info.queueIndex}}</td>
                <td>{{info.id}}</td>
                <td>{{info.title}}</td>
                <td>
                    <input type="button" value="play" ng-click="play(info.queueIndex)"/>
                    <input type="button" value="remove" ng-click="removeFromQueue(info.queueIndex)"/>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
</body>