<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="EvilMusicApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Evil Music - Library</title>
    <link rel="stylesheet" type="text/css" href="/css/library.css">
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/emcontroller.js"></script>
    <script type="text/javascript" src="/js/emeq.js"></script>
    <script type="text/javascript" src="/js/aurora.js"></script>
    <script type="text/javascript" src="/js/flac.js"></script>
</head>
<body ng-controller="EMLibraryController">
    <h1>Evil Music - Library</h1>
    <div>
        <input type="button" value="clear library" ng-click="clearLibrary()"/>
        <input type="button" value="rebuild library" ng-click="rebuildLibrary()"/>
        <input type="button" value="clear queue" ng-click="clearQueue()"/>
        <input type="button" value="play/pause" ng-click="togglePlayback()"/>
        <input type="button" value="move 10s" ng-click="moveToTime(10000)"/>
    </div>
    <div>
        <div><h2>EQ</h2></div>
        <div>
            <div class="eq-node-slider-div" ng-repeat="node in nodes">
                <div class="centered">
                    {{hertzToString(node.frequency)}}
                </div>
                <div class="centered">
                    <input class="eq-node-slider"
                           type="range" min="-40" max="10" step="0.1" orient="vertical"
                           ng-model="node.gain" ng-change="updateNodeGain(node)"/>
                </div>
                <div class="centered">
                    <input class="width-45"
                           type="number" min="-10" max="10" step="0.1"
                           ng-model="node.gain" ng-change="updateNodeGain(node)"/>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div style="float:left">
        <div><h2>Library</h2></div>
        <table>
            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Album</th>
                <th align="right">Track #</th>
                <th>Title</th>
                <th>Length</th>
                <th>Sample Rate</th>
                <th>Sample Count</th>
                <th>Controls</th>
            </tr>
            <tr ng-repeat="song in library | orderBy : ['artist','trackNumber']">
                <td>{{song.id}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.album}}</td>
                <td align="right">{{song.trackNumber}}</td>
                <td>{{song.title}}</td>
                <td>{{song.seconds}} s</td>
                <td>{{song.sampleRate}} Hz</td>
                <td>{{song.sampleCount}}</td>
                <td><input type="button" value="qL" ng-click="enqueueLast(song.id)"/></td>
            </tr>
        </table>
    </div>
    <div style="float:right">
        <div><h2>Queue</h2></div>
        <table>
            <tr>
                <th>pI</th>
                <th>qI</th>
                <th>ID</th>
                <th>Title</th>
                <th>Controls</th>
            </tr>
            <tr ng-repeat="elem in queue.elements">
                <td>{{elem.playIndex}}</td>
                <td>{{elem.queueIndex}}</td>
                <td>{{elem.song.id}}</td>
                <td>{{elem.song.title}}</td>
                <td>
                    <input type="button" value="play" ng-click="play(elem.queueIndex)"/>
                    <input type="button" value="remove" ng-click="removeFromQueue(elem.queueIndex)"/>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <pre>{{testOutput}}</pre>
</body>